<!DOCTYPE html>

<html>
<head>
<title>Timestamp Microservice | freeCodeCamp.org</title>
<link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Timestamp Microservice</h1>
</br>
<h2> Input a valid date or unix timestamp as described in the examples below</h2>
<hr />
<div class="container">
<h2>Examples:</h2>
<ul>
<li><a href="api/1983-03-09">[project url]/api/1983-03-09</a></li>
<li><a href="api/416016000000">[project url]/api/416016000000</a></li>
<li><a href="api/">[project url]/api/</a> (Current Date)</li>
</ul>

<h2>Example Output:</h2>
<p>
<code>{"Unix":416016000000, "UTC":"Wed, 09 Mar 1983 00:00:00 GMT"}</code>
</p>
</div>
<div class="footer">
<p>
By <a href="https://github.com/delm83">Derek Mudie</a>
</br>
A Fork of Code By <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a>
</p>
 </div>
</body>
</html>
